@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-md-4">
        <ul>
            @using GrahamAlg
            @model IEnumerable<Point>
            @foreach (Point point in Model)
            {
                <li>@point.X;@point.Y</li>
            }
        </ul>
    </div>
</div>
<div class="row">
    @using (Html.BeginForm("Index", "Home", new { points2 = Model }, FormMethod.Post, new { id = "myForm" }))
    {
        @Html.AntiForgeryToken()
        <div id="fields">
            @foreach (Point point in Model)
            {
                @Html.EditorFor(x => point.X)
                @Html.EditorFor(x => point.Y)
                <br />
            }
        </div>
        <input type="button" id="addItem" value="Добавить" />
        <input type="submit" value="Отправить" />
    }
</div>
<div class="row">
    <div class="col-lg-4">
        <canvas width="800" height="600" id="canvas"></canvas>
    </div>
    <script>
        $(document).ready(function () {
            $("#addItem").click(function () {

                $("#fields").append(
                    $(document.createElement('br'))
                );
                $("#fields").append(
                    $(document.createElement('input'))
                        .attr('type', 'numer')
                        .attr('name', 'point.Y')
                        .attr('value', '0')
                );
                $("#fields").append(
                    $(document.createElement('input'))
                        .attr('type', 'number')
                        .attr('name', 'point.X')
                        .attr('value', '0')
                );
                
            });
        });

        var canvas = document.getElementById('canvas');
        console.log(canvas);
        if (canvas.getContext) {
            var ctx = canvas.getContext('2d');
            var someArray = @Html.Raw(Json.Encode(Model));
            console.log(someArray);
            ctx.beginPath();
            ctx.moveTo(someArray[0].X, someArray[0].Y);
            for (let i = 1; i < someArray.length; i++) {
                ctx.lineTo(someArray[i].X, someArray[i].Y);
            }
            ctx.stroke();
            ctx.font = "14px Georgia";
            for (let i = 0; i < someArray.length; i++) {
                ctx.fillText((i + "(" + someArray[i].X + "," + someArray[i].Y+")"), someArray[i].X + 20, someArray[i].Y -20);
            }
        }
    </script>
</div>